* {
  font-family: AvenirNextRegular, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.forgot-pass {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.forgot-pass a {
  overflow: hidden;
  white-space: nowrap;
  font-size: small;
  text-decoration: none;
}

.forgot-pass span {
  font-size: small;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.signin-button {
  margin-left: 10px;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  background-color: #0077c5;
  border-radius: 4px;
  box-shadow: none;
  border: none;
}

body {
  background-color: rgb(236, 233, 233);
}

.primary-header {
  height: 80px;
  text-align: center;
}

.primary-header img {
  height: 100%;
}

.help-links {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-links img {
  height: 30px;
  padding: 0 3px;
}

.help-links span {
  padding-right: 5px;
  font-family: Helvetica, sans-serif;
  color: rgb(179, 176, 176);
  font-size: 20px;
}

.help-links a {
  text-decoration: none;
}

.form-section {
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.form-signin {
  width: 420px;
  height: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-color: rgb(209, 209, 209);
  border-style: solid;
}

.form-signin h3 {
  font-weight: lighter;
  color: #535353;
}

.form-signin h5 {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  color: #535353;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
}

.form-signin a {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  margin-top: 0;
  font-weight: lighter;
  font-size: 12px;
}

.form-fieldset {
  padding-top: 20px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px;
}

.form-fieldset > input {
  border-width: 1px;
  border-color: lightgray;
  width: 89.45%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  height: 30px;
  border-style: solid;
  padding-left: 5px;
  padding-right: 30px;
  font-family: Helvetica, sans-serif;
}

.form-fieldset span {
  padding-bottom: 17px;
  padding-top: 5px;
  font-size: 11px;
  color: #444;
}

.form-fieldset input[type="tel"] {
  margin-bottom: 0;
}

.form-fieldset button {
  width: 100%;
  height: 50px;
  font-size: 20px;
}

.form-fieldset i {
  margin-right: 3px;
}

.form-fieldset label {
  text-align: start;
}

.terms {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  color: #444;
}

.form-footer {
  margin: 50px;
}

.privacy-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgb(238, 235, 235);
}

.privacy-footer span {
  font-size: 10px;
  font-weight: lighter;
  color: #8d9096;
}

.privacy-footer span > a {
  font-size: 10px;
}

#password {
  background-image: url(icons/open-lock.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 17px 17px;
  background-position-x: 97%;
}

.create-account_button {
  background-color: #0879c8;
  color: white;
  border-radius: 8px;
  border: none;
}

.ending {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.legal-stuff > span {
  margin-right: 10px;
  color: #505050;
  text-decoration: none;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}

.legal-stuff {
  margin-top: 20px;
}

.trademark {
  font-size: 12px;
}

.trademark > p {
  margin: 0;
  color: #505050;
  line-height: 1.5;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
}

@font-face {
  font-family: AvenirNextRegular;
  src: url(fonts/AvenirNextRegular.otf);
}

@font-face {
  font-family: AvenirNextIt;
  src: url(fonts/AvenirNextIt.otf);
}

.speech-bubble {
  display: flex;
  position: absolute;
  background: #154568;
  border-radius: 0.4em;
  min-height: 40px;
  height: auto;
  width: 250px;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: small;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
}

.speech-bubble::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right-color: #154568;
  border-left: 0;
  margin-top: -15px;
  margin-left: -12px;
}

.hide-bubble {
  visibility: hidden;
}
